<header class="text-center">
  <h1>New article</h1>
</header>

<div class="container">
  <%= render "form", article: @article %>
</div>

<footer class="text-center">
  <%= link_to 'Back to list', articles_path %>
</footer>
